@import url('https://fonts.googleapis.com/css2?family=Quattrocento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Taviraj:wght@100&display=swap');
.plan_card{
    display: flex;
    justify-content: center;
    margin-left: 1rem;
    margin-right: 1rem;
}
.bg_card{
    background-color:#fff;
    border-radius:50%;
    height:16rem;
    margin-left: 2rem;
    margin-right: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.5rem;
    font-weight: 400;
    margin-bottom: 2rem;
}
.plan_name{
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-family: 'Quattrocento', serif;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 1.5px;
    color:rgb(255, 255, 255)

}
.main_heading_plan{
    background-color: RGB(250, 242, 240);
}
.price_fnt{
    font-family: 'Taviraj', serif;
    font-weight: 700;
    color:rgba(49, 47, 47, 0.788)
}
.plancardw{
    width:20rem;
}

@media only screen and (max-width:770px){
  .plan_card{
      display: flex;
  }
  .planres{
      margin-right: 150px;
  }
}
@media only screen and (max-width:380px){
  .plan_card{
      display: flex;
      margin-left: -5px;
      margin-right: -15px;
  }
  .planres{
      margin-right: 81px;
  }
  .card{
      width:17rem;
  }
}
